<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/Dashboardemp.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    

</head>

<body>
    <div id="popup" class="popup">
                Data saved successfully
            </div>
            
    <div class="navbox">
        <nav>
            <div class="logo">
                <a href="{{url_for('index')}}"><img src="static/img/logo.png"></a>
            </div>

            <div class="left">
                <a href="Home">Home</a>
                <a href="#">About</a>
                <a href="#">Help</a>
                <!-- <a href="{{url_for('logout')}}"><button>LogOut</button></a> -->
                <span>Jobseeker</span>


            </div>
        </nav>
    </div>
    <div class="middle flexbr">
        <div class="midleft">
            <div class="box flexbc">
                <div class="prof flexbr">
                    <div class="boxr flexbc"><div class="imgbox"><img src = "static/img/empdashboard/testimg.jpg"></div></div>
                    <div class="boxl flexbc"><div class="userdata flexbc">
                        <span class="flexbr">Jobseeker
                            <svg  width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                      </svg>
                    </span>
                      <span>{{uid}}</span>
                      <a href="{{url_for('logout')}}"><button>LogOut</button></a>
                    </div>
                </div>
                </div>
                <div class="allsection flexbc">
                    <button class="flexbr" onclick="toggleSection('profile')">Profile</button>
                    <!-- <button class="flexbr" onclick="toggleSection('resume')">Resume</button> -->

                    <button class="flexbr"><a href="{{url_for('jobemployer')}}" style="text-decoration: none; color:black ;">Find a job</a></button>

                    <!-- <button class="flexbr" onclick="toggleSection('Bookmark')">Bookmark jobs</button> -->

                    <!-- <button class="flexbr" onclick="toggleSection('Applied')">Applied jobs</button> -->
                    
                    <button class="flexbr"><a href="{{url_for('logout')}}" style="text-decoration: none; color:black ;">Logout</a></button>

                    

                </div>
            </div>
        </div>
        <div class="midright flexbc">
            
            <div id="profile" class="profile flexbc">
                <div class="box1">
                    <div class="txt">Profile</div>


                    <form class="datasection">
                        <div>
                            <label for="name">Full Name:</label>
                            <input type="text" id="name" name="name" value="{{ data.personal_info.name | default('') }}" required readonly>
                        </div>
                        <div>
                            <label for="dob">Date of Birth:</label>
                            <input type="date" id="dob" name="dob" value="{{ data.personal_info.dob | default('')}}" required>
                        </div>
                        <div>
                            <label for="gender">Gender:</label>
                            <select id="gender" name="gender" required>
                                <option value="" {% if data.personal_info.gender == '' %} selected {% endif %}>select gender</option>
                                <option value="male" {% if data.personal_info.gender == 'male' %} selected {% endif %}>Male</option>
                                <option value="female" {% if data.personal_info.gender == 'female' %} selected {% endif %}>Female</option>
                                <option value="other" {% if data.personal_info.gender == 'other' %} selected {% endif %}>Other</option>
                            </select>
                        </div>
                        <div>
                            <label for="age">Age Range:</label>
                            <select id="age" name="age" required>
                                <option value="" {% if not data.personal_info or data.personal_info.age == '' %} selected {% endif %}>Select Age</option>
                                <option value="18-25" {% if data.personal_info.age == '18-25' %} selected {% endif %}>18-25</option>
                                <option value="25-30" {% if data.personal_info.age == '25-30' %} selected {% endif %}>25-30</option>
                                <option value="30-35" {% if data.personal_info.age == '30-35' %} selected {% endif %}>30-35</option>
                                <!-- Add more age ranges as needed -->
                            </select>
                        </div>

                        <div>
                            <label for="phone">Phone Number:</label>
                            <input type="tel" id="phone" name="phone" value="{{ data.personal_info.phone | default('')}}" required>
                        </div>
                        <div>
                            <label for="country">Select a country:</label>
                            <select id="country" name="country" required>
                                <option value="" {% if data.personal_info.country == '' %} selected {% endif %}>Select a country</option>
                                <option value="US" {% if data.personal_info.country == 'US' %} selected {% endif %}>United States</option>
                                <option value="IN" {% if data.personal_info.country == 'IN' %} selected {% endif %}>India</option>
                                <option value="CN" {% if data.personal_info.country == 'CN' %} selected {% endif %}>China</option>
                            </select>
                        </div>
                        
                            <div>
                                <label for="qualification">Qualification:</label>
                                <select id="qualification" name="qualification" required>
                                    <option value="" {% if not data.personal_info or data.personal_info.qualification == '' %} selected {% endif %}>Select Qualification</option>
                                    <option value="High School" {% if data.personal_info.qualification == 'High School' %} selected {% endif %}>High School</option>
                                    <option value="Bachelor's Degree" {% if data.personal_info.qualification == "Bachelor's Degree" %} selected {% endif %}>Bachelor's Degree</option>
                                    <option value="Master's Degree" {% if data.personal_info.qualification == "Master's Degree" %} selected {% endif %}>Master's Degree</option>
                                    <!-- Add more qualification options as needed -->
                                </select>
                            </div>
                            
                            <div>
                                <label for="experience">Experience:</label>
                                <select id="experience" name="experience" required>
                                    <option value="" {% if not data.personal_info or data.personal_info.experience == '' %} selected {% endif %}>Select Experience</option>
                                    <option value="0-1 year" {% if data.personal_info.experience == '0-1 year' %} selected {% endif %}>0-1 year</option>
                                    <option value="1-3 years" {% if data.personal_info.experience == '1-3 years' %} selected {% endif %}>1-3 years</option>
                                    <option value="3-5 years" {% if data.personal_info.experience == '3-5 years' %} selected {% endif %}>3-5 years</option>
                                    <!-- Add more experience ranges as needed -->
                                </select>
                            </div>
                            
                            <div>
                                <label for="languages">Languages preferred:</label>
                                <select id="languages" name="languages" required>
                                    <option value="" {% if not data.personal_info or data.personal_info.languages == '' %} selected {% endif %}>Select Language</option>
                                    <option value="English" {% if data.personal_info.languages == 'English' %} selected {% endif %}>English</option>
                                    <option value="Spanish" {% if data.personal_info.languages == 'Spanish' %} selected {% endif %}>Spanish</option>
                                    <option value="French" {% if data.personal_info.languages == 'French' %} selected {% endif %}>French</option>
                                    <!-- Add more language options as needed -->
                                </select>
                            </div>
                            
                            <div>
                                <label for="salary_type">Salary Type:</label>
                                <select id="salary_type" name="salary_type" required>
                                    <option value="" {% if not data.personal_info or data.personal_info.salary_type == '' %} selected {% endif %}>Select Salary Type</option>
                                    <option value="monthly" {% if data.personal_info.salary_type == 'monthly' %} selected {% endif %}>Monthly</option>
                                    <option value="hourly" {% if data.personal_info.salary_type == 'hourly' %} selected {% endif %}>Hourly</option>
                                    <!-- Add more salary types as needed -->
                                </select>
                            </div>
                            
                        <div>
                            <label for="expected_salary">Expected Salary:</label>
                            <input type="number" id="expected_salary" name="expected_salary" value="{{ data.personal_info.expected_salary | default('')}}" required>
                        </div>
                        <div>
                            <label for="job_category">Job Category:</label>
                            <select id="job_category" name="job_category" required>
                                <option value="" {% if data.personal_info.job_category == '' %} selected {% endif %}>job categ</option>
                                <option value="Development" {% if data.personal_info.job_category == 'Development' %} selected {% endif %}>Development</option>
                                <option value="Video Editing" {% if data.personal_info.job_category == 'Video Editing' %} selected {% endif %}>Video Editing</option>
                                <option value="Design" {% if data.personal_info.job_category == 'Design' %} selected {% endif %}>Design</option>
                          
                            </select>
                        </div>
                        

                    </form>
                   
                    <div class="btn flexbr">
                        <button id="editButton" onclick="enableInputs()">Edit</button>
                        <button id="saveButton" style="display: none;" onclick="saveInputs()">Save</button>
                        
                    </div>

                </div>


                <div class="box1 profile">
                    <div class="txt">Job info</div>


                    <form class="datasection">
                        <div>
                            <label for="name">Full Name:</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                            <label for="dob">Date of Birth:</label>
                            <input type="date" id="dob" name="dob" required>
                        </div>
                        <div>
                            <label for="gender">Gender:</label>
                            <select id="gender" name="gender" required>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                        <div>
                            <label for="age">Age Range:</label>
                            <select id="age" name="age" required>
                                <option value="18-25">18-25</option>
                                <option value="25-30">25-30</option>
                                <option value="30-35">30-35</option>
                                <!-- Add more age ranges as needed -->
                            </select>
                        </div>

                        <div>
                            <label for="phone">Phone Number:</label>
                            <input type="text" id="phone" name="phone" required>
                        </div>
                        <div>
                            <label for="email">Email Address:</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                        <div>
                            <label for="qualification">Qualification:</label>
                            <select id="qualification" name="qualification" required>
                                <option value="High School">High School</option>
                                <option value="Bachelor's Degree">Bachelor's Degree</option>
                                <option value="Master's Degree">Master's Degree</option>
                                <!-- Add more qualification options as needed -->
                            </select>
                        </div>
                        <div>
                            <label for="experience">Experience:</label>
                            <select id="experience" name="experience" required>
                                <option value="0-1 year">0-1 year</option>
                                <option value="1-3 years">1-3 years</option>
                                <option value="3-5 years">3-5 years</option>
                                <!-- Add more experience ranges as needed -->
                            </select>
                        </div>
                        <div>
                            <label for="languages">Languages prefered:</label>
                            <select id="languages" name="languages" multiple required>
                                <option value="English">English</option>
                                <option value="Spanish">Spanish</option>
                                <option value="French">French</option>
                                <!-- Add more language options as needed -->
                            </select>
                        </div>
                        <div>
                            <label for="salary_type">Salary Type:</label>
                            <select id="salary_type" name="salary_type" required>
                                <option value="monthly">Monthly</option>
                                <option value="hourly">Hourly</option>
                                <!-- Add more salary types as needed -->
                            </select>
                        </div>
                        <div>
                            <label for="expected_salary">Expected Salary:</label>
                            <input type="number" id="expected_salary" name="expected_salary" required>
                        </div>
                        <div>
                            <label for="job_category">Job Categories:</label>
                            <select id="job_category" name="job_category[]" multiple required>
                                <option value="Development">Development</option>
                                <option value="Video Editing">Video Editing</option>
                                <option value="Design">Design</option>
                                <!-- Add more job categories as needed -->
                            </select>
                        </div>
                        <!-- Additional fields from provided code -->


                </div>

            </div>
        
           <div id ="resume" class="resume" style="display: none;"></div>
           <div id ="Bookmark" class="Bookmark" style="display: none;"></div>
           <div id ="Applied" class = "Appliedjob" style="display: none;"></div>


           

        </div>        <!-- middle right flexbox -->

        </div>  


        
        
        <script src="{{url_for('static', filename='js/Dashboardemployee.js')}}">

        </script>

        <div class="footer flexbc">
            <div class="box flexbr">
                <div class="p p1 flexbc"><img src="static/img/logo.png"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quod modi harum?</span></div>
                <div class="p p2 flexbc">
                    <li>Employer</li>
                    <li>About Us</li>
                    <li>Careers</li>
                    <li>Blog</li>
                </div>
                <div class="p p3 flexbc">
                    <li>Find Vacancy Based On</li>
                    <li>Help Center</li>
                    <li>job Location</li>
                    <li>Company Name</li>
                </div>
                <div class="p p4 flexbc">
                    <li>Find us on</li>
                    <li>Gmail</li>
                    <li>Instagram</li>
                    <li>twitter</li>
                </div>

            </div>
            <div class="copyrt flexbr"><span>© 2024 carrier plus - All rights reserved.</span></div>
</body>


</html>