<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href="static/css/jobemployer.css">
   
</head>
<body>
    <div class="navbox">
    <nav>
        <div class="logo">
            <img src="static/img/logo.png">
        </div>
        
        <div class="left">
            <a href="Home">Home</a>
            <a href="#">About</a>
            <a href="#">Help</a>
            <a href="/login"><button>LogIn</button></a>
           
        </div>
    </nav>
</div>
<div class="middle flexbr">
<!-- <H1> Welcome to this page</H1>
    <span>{{us}}</span> -->

    <div class="left">
        <div class="lbox"></div>
    </div>


    <div class="mid flexbc">
        
        <div class="mbox">

        </div>

        <div class="mbox">

        </div>

        <div class="mbox">

        </div>

        <div class="mbox">

        </div>
    </div>
    <div class="right">
        <div class="rbox"></div>
    </div>
</div>

<div class="footer flexbc">
    <div class="box flexbr">
        <div class="p p1 flexbc"><img src ="static/img/logo.png"><span>Joobs is the largest talent platform in Southeast Asia and Taiwan for career development and recruitment.</span></div>
        <div class="p p2 flexbc"><li>Employer</li><li>About Us</li><li>Careers</li><li>Blog</li></div>
        <div class="p p3 flexbc">
            <li>Find Vacancy Based On</li><li>Help Center</li><li>job Location</li><li>Company Name</li>
        </div>
        <div class="p p4 flexbc"><li>Find us on</li><li>Gmail</li><li>Instagram</li><li>twitter</li></div>
        
    </div>
    <div class="copyrt flexbr"><span>© 2024 carrier plus - All rights reserved.</span></div>
</body>
</html>